* {
    box-sizing: border-box;
}
body {
    padding: 2vw;
    font-family: 'Arial Black', sans-serif;
    color: #666;
}
header, footer {
    background-color: #e5e5e5;
    padding: 2vw;
    margin-top: 2vw;
}
footer {
    color: #aaa;
}
.alignleft {
    float: left;
    width: 30%;
    padding: 0 20px;
    border-right: 1px solid black;
    margin-top: 2vw;
}
.alignright {
    float: left;
    width: 70%;
    padding: 0 20px;
    margin-top: 2vw;
}
h1 {
    font-size: 6vw;
    color: deeppink;
}
h2 {
    font-size: 3vw;
}
a {
    text-decoration: none;
    color: deeppink;
}
ul {
    list-style-type: url("PortugueseTilePatternYellow.png"); /* Check if using an image instead of a pre-existing bullet style works. */
}
@media only screen and (max-width: 680px) {
    .alignleft, .alignright {
        width: 100%;
    }   
    .alignleft {
        border-right: none;
        border-bottom: 1px solid black;
    } 
}